<h1>Blackjack#end</h1>
<p>Find me in app/views/blackjack/end.html.erb</p>

<table>
  <tbody>
    <tr>
      <td><h2 id="game-id" data-id=<%= "#{@game.id}" %>><%= "Game ID: #{@game.id}" %></h2></td>
    </tr>
    <tr>
      <td><h2 id="player-id" data-id=<%= "#{@player.id}" %>><%= "Player #{@player.name}" %></h2></td>
    </tr>
    <tr>
      <td><h4>Name</h4></td>
      <td><h4>Score Hand 1</h4></td>
      <td><h4>Score Hand 2</h4></td>
      <td><h4>Result</h4></td>
    </tr>
    <% @game.players.each do |player| %>
      <tr>
        <td><h4><%= "Player #{player.name}" %></h4></td>
        <% if player.has_split %>
          <td><h4><%= "#{player.left_score}" %></h4></td>
        <% else %>
          <td><h4><%= "#{player.score}" %></h4></td>
        <% end %>
        <td><h4><%= "#{player.right_score}" %></h4></td>
        <td><h4><%= "need result" %></h4></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Back to games', games_path %>
